#pp-img{
    width: 20vw;
    border-radius: 30px;

}

.pg-header {
    background-color: #f39b9b;
    padding: 3em;
    color: #860505;
}

.my-info {
    text-align: center;
    background-color: gray;
    color: papayawhip;
    padding: 3em;
}

.contact-me {
    text-align: center;
    background-color: #f39b9b;
    color: #860505;
    padding: 3em;
}

.contact-image {
    width: 3vw;
    border-radius: 30px;
}

