@import url('https://fonts.googleapis.com/css?family=Montserrat:700');

html, body {
    scroll-behavior: smooth;
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

#mar-body {
    margin: 0;
}

#hello-img {
    width: 100vw;
}

#jakun-img {
    width: 25vw;
    display: flex;
    justify-content: center;
}

#intro {
    text-align: center;
}

#jakun-align {
    text-align: right;
}

#h-font {
    font-family: "Playfair Display SC";
    font-size: 48px;
    line-height: 64px;
    margin-bottom: 0px;
}

#a-font {
    font-family: "Playfair Display";
    margin-top: 0px;
    font-size: 24px;
    line-height: 32px;
}

#m-font {
    font-family: "Playfair Display SC";
    font-size: 48px;
    margin: 0;
    text-align: center;
}

#s-font {
    font-family: "Playfair Display SC";
    font-size: 48px;
    margin: 0;
    text-align: center;
}

#s-font .row {
    margin-bottom: 10vh;
}

#p-font {
    font-size: 24px;
    font-family: "Podkova";
    text-align: right;
    line-height: 27px;
    margin-right: 40px;
}

#n-font {
    font-family: "Playfair Display SC";
    font-size: 18px;
    /*line-height: 24px;*/
    text-align: center;
}

#sk-font {
    border-bottom: 1px solid;
    width: 345px;
    text-align: center;
    font-family: "Playfair Display SC";
}

#peace-img {
    width: 100vw;
    margin: 0;
}

.contact-me {
    margin-top: 15vh;
}

#contact-img1 {
    width: 66px;
    height: 58px;
}

#contact-img2 {
    width: 90px;
    height: 55px;
}

#contact-img3 {
    width: 65px;
    height: 62px;
}

#contact-img4 {
    width: 95px;
    height: 63px;
}

#line-img {
    width: 19px;
    height: 117px;
}

.flex-container {
    display: flex;
    background-color: white;
    justify-content: center;
    flex-wrap: wrap-reverse;
    align-items: center;
}

.flex-container > div {
    background-color: white;
    margin: 10px;
    padding: 20px;
    font-size: 30px;
}

.flex-container2 {
    display: flex;
    flex-direction: column;
    background-color: white;
    justify-content: center;
}

.flex-container2 > div {
    background-color: white;
    width: auto;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
}

.flex-container3 {
    display: flex;
    background-color: white;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap-reverse;
    align-items: center;
}

.flex-container3 > div {
    background-color: white;
    margin: 10px;
    padding: 20px;
    font-size: 30px;
}

.flex-container4 {
    display: flex;
    background-color: white;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap-reverse;
    align-items: center;
}

.flex-container4 > div {
    background-color: white;
    margin: 10px;
    padding: 20px;
    font-size: 30px;

}

.flex-skills {
    display: flex;
    background-color: #c4c4c4;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap-reverse;
    align-items: center;
    padding: 3.5em;
}

.flex-skills > div {
    background-color: #c4c4c4;
    margin: 10px;
    padding: 20px;
    font-size: 30px;
}

.row {
    display: flex;
    width: 100vw;
    justify-content: center;
}

.column {
    float: left;
    width: 120px;
    align-items: center;
    justify-content: center;

}

.row:after {
    content: "";
    display: flex;
    clear: both;
}


.row2 {
    display: flex;
    width: 100vw;
    justify-content: flex-end;
    margin-left: -3vw;
    margin-top: -12vh;
    margin-bottom: 10vh;
}

.column2 {
    float: left;
    width: 120px;
    align-items: center;
    justify-content: center;

}

.row2:after {
    content: "";
    display: flex;
    clear: both;
}

.row2 a {
    color: black;
}

.educationContainer {
    display: flex;
    width: 100vw;
    height: 5rem;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;
}

.empty {
    flex: 1;
}

.divider {
}

.textMessage {
    flex: 1;
    text-align: left;
    font-family: "Playfair Display SC";
    font-size: 24px;
}

.tm-right {
    margin-left: 5vw;
}

.tm-left {
    margin-right: 5vw;
}

.textMessageLeft {
    flex: 1;
    text-align: right;
    font-family: "Playfair Display SC";
    font-size: 24px;
}

.head-edu-container {
    margin-top: 8vh;
    margin-bottom: 20vh;
}

.carousel-inner img {
    width: 100%;
    height: 100%;
}

/*STORY 3-2 CSS*/



#story3-2 {
  background-color: white;
  background-image: radial-gradient(#333, white);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: black;
  text-align: center;
  width: 100vw;
  font-weight: 700;
  overflow: hidden;
  font-family: 'Montserrat', sans-serif;
}

#fly-in {
  font-size: 4em;
  margin: 40vh auto;
  height: 20vh;
  text-transform: uppercase;
}

#fly-in span {
  display: block;
  font-size: .4em;
  opacity: .8;
}

#fly-in div {
 position: fixed; <!--codepen.io/h-kod/-->
  margin: 2vh 0;
  opacity: 0;
  left: 10vw;
  width: 80vw;
  animation: switch 32s linear infinite;
}

#fly-in div:nth-child(2) { animation-delay: 4s}
#fly-in div:nth-child(3) { animation-delay: 8s}
#fly-in div:nth-child(4) { animation-delay: 12s}
#fly-in div:nth-child(5) { animation-delay: 16s}
#fly-in div:nth-child(6) { animation-delay: 20s}
#fly-in div:nth-child(7) { animation-delay: 24s}
#fly-in div:nth-child(8) { animation-delay: 28s}

@keyframes switch {
    0% { opacity: 0;filter: blur(20px); transform:scale(12)}
    3% { opacity: 1;filter: blur(0); transform:scale(1)}
    10% { opacity: 1;filter: blur(0); transform:scale(.9)}
    13% { opacity: 0;filter: blur(10px); transform:scale(.1)}
    80% { opacity: 0}
    100% { opacity: 0}
}
/* ================= */

@media (max-width: 813px) {
    /* smartphones, iPhone, portrait 480x320 phones */
    .row2 {
        margin: 1rem 0 0;
        width: 100%;
    }

    .container {
        margin-top: 2.5rem;
    }

    #n-font {
        font-size: 8px;
    }

    #h-font {
        font-size: 14px;
    }

    #a-font {
        font-size: 7px;
        margin-top: -2rem;
    }

    #jakun-align {
        margin-left: 10%;
    }

    #jakun-img {
        width: 30vw;
    }

    .flex-container2 {
        margin-top: -2rem;
    }

    #m-font {
        font-size: 20px;
    }

    #p-font {
        font-size: 12px;
        text-align: right;
        padding: 2rem;
    }

    .textMessage {
        font-size: 12px;
    }

    .textMessageLeft {
        font-size: 12px;
    }

    #skills {
        margin-top: -4rem;
    }

    #s-font {
        font-size: 25px;
    }

    .flex-skills .container .row {
        font-size: 12px;
        margin-left: -18vw;
    }

    .container h2 {
        font-size: 25px;
    }

    #s-font .row .column {
        width: 20vw;
        margin-top: 1rem;
    }

    #contact-img {
        width: 50px;
        height: auto;
    }

    #contact-img1 {
        width: 35px;
        height: auto;
    }

    #contact-img2 {
        width: 50px;
        height: auto;
    }

    #contact-img3 {
        width: 35px;
        height: auto;
    }

    #sk-font {
        width: auto;
    }
}

@media (min-width: 481px) {
    /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */

}

@media (min-width: 641px) {
    /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */

}

@media (min-width: 961px) {
    /* tablet, landscape iPad, lo-res laptops ands desktops */

}

@media (min-width: 1025px) {
    /* big landscape tablets, laptops, and desktops */

}

@media (min-width: 1281px) {
    /* hi-res laptops and desktops */

}